NOTES_DATABASE_URL="postgresql://notes_user:your_password@localhost:5432/notes_db"

NOTES_NEXTAUTH_SECRET="change-me"
NOTES_NEXTAUTH_URL="http://localhost:3000"

NOTES_AUTH="local"
NOTES_OIDC_ISSUER=""
NOTES_OIDC_CLIENT_ID=""
NOTES_OIDC_CLIENT_SECRET=""
NOTES_OIDC_NAME=""
